.Head {
  background-image: url("./images/back.jpg");
  background-size: cover;
  padding: 0.5rem 0;
}

.Head .date {
  margin: 0;
  color: var(--white-color);
  font-size: 1.2rem;
}

.Head .number {
  color: var(--white-color);
}

.Head .budget{
    font-size:2.5rem;
}